{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

<form action="" method="get" class="text-center">
       {{ filter.form.as_p }}
       <input value="View requests" class="btn btn-primary" type="submit" />
 </form>
 <div class="table-responsive">
  <table class="table">
    <tr>
      <th>District</th>
      <th>Location</th>
      <th>GPS Location</th>
      <th>Requestee</th>
      <th>Contact number</th>
      <th>Summary of request</th>
      <th>Date</th>
    </tr>
    {% for req in data %}
        <tr>
          <td>{{ req.get_district_display }}</td>
          <td>{{ req.location }}</td>
          <td>
            {% if req.latlng %}
              <a class="btn btn-sm btn-success" href="https://maps.google.com/?q={{ req.latlng }}" target="_blank">Open in maps</a>
              <br>
              Accuracy: {{ req.latlng_accuracy }}
            {% else %}
              NA
            {% endif %}
          </td>
          <td>{{ req.requestee }}</td>
          <td>{{ req.requestee_phone }}</td> 
          <td>{{ req.summarise | linebreaks }}</td>
          <td>{{ req.dateadded }}</td>
        </tr>
    {% endfor %}

  </table>

 {% if data.has_next or data.has_previous %}
    <ul class="pagination">
      {% if data.has_previous %}
        <li class="paginate_button previous"><a href="?page=1&district={{ request.GET.district }}">&laquo; first</a></li>
        <li class="paginate_button previous"><a href="?page={{ data.previous_page_number }}&district={{ request.GET.district }}">Previous</a></li>
      {% else %}
        <li class="disabled"><span>Previous</span></li>
      {% endif %}

      {% if data.number|add:'-8' > 1 %}
        <li><a href="?page={{ data.number|add:'-8' }}&district={{ request.GET.district }}">&hellip;</a></li>
      {% endif %}

      {% for i in data.paginator.page_range %}
        {% if data.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% elif i > data.number|add:'-8' and i < data.number|add:'8' %}
        <li><a href="?page={{ i }}&q={{query}}&district={{ request.GET.district }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if data.paginator.num_pages > data.number|add:'8' %}
        <li><a href="?page={{ data.number|add:'8' }}&district={{ request.GET.district }}">&hellip;</a></li>
      {% endif %}

      {% if data.has_next %}
        <li class="paginate_button next"><a href="?&page={{ data.next_page_number }}&district={{ request.GET.district }}" >Next</a></li>
        <li class="last"><a href="?page={{ data.paginator.num_pages }}&district={{ request.GET.district }}">last &raquo;</a></li>
      {% else %}
        <li class="disabled"><span>Next</span></li>
      {% endif %}
    </ul>
  {% endif %}

</div>
{% endblock %}
